:root {
    --accent-color: rgba(255, 108, 78, 0.5);
}

html, body {
    margin: 0px;
    padding: 0px;
    height: 100%;
}
div, p {
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: 'Terminal Grotesque';
    src: url(fonts/terminal-grotesque.woff2);
}
@font-face {
    font-family: 'Mrs Eaves';
    src: url(fonts/mrs-eaves/Mrs-Eaves-Lining-OT-.otf);
}

#bg {
    display: flex;
    min-height: 100%;
    justify-content: center;
    background-color: rgb(42, 40, 38);
    position: relative;
    z-index: 0;
}

#bg-text {
    color: var(--accent-color);
    margin: 0px;
    width: 100%;
    min-height: 100%;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    z-index: 0;
}

#grad {
    position: absolute;
    left: 0px;
    top: 0px;
    margin: 0px;
    height: 100%;
    width: 100%;
    background: radial-gradient(rgba(0,0,0,0), rgba(0,0,0,0.4));
    z-index: 0;
}

#fg {
    width: 900px;
    min-height: 900px;
    text-align: center;
    margin: 64px 48px 0px 8px;
    border-radius: 4px;
    background-image: url(/pixel2.png);
    background-size: 900px;
    background-repeat: no-repeat;
    filter: drop-shadow(0px 16px 16px rgb(18, 20, 18));
    color: rgb(42, 41, 41);
    font-family: 'Mrs Eaves';
}

#content {
    position: absolute;
    background-color: rgb(204, 214, 238);
    width:650px;
    height: 490px;
    left: 176px;
    top: 90px;
    animation: heavyFlicker 1s ease-in;
    box-shadow: 0 0 20px rgba(255, 108, 78, 0.2);
}

#frame {
    position: absolute;
    top: 0;
    left: 0;
    width: 900px;
    pointer-events: none;
}

#nav-bar {
    display: flex;
    flex-direction: column;
    width: fit-content;
    text-align: center;
}

@keyframes heavyFlicker {
    0% {
      opacity: 1;
    }
    20% {
        opacity: 1;
    }
    25% {
      opacity: 0.9;
    }
    26% {
        opacity: 1;
    }
    75% {
        opacity: 1;
    }
    79% {
      opacity: 0.7;
    }
    80% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
@keyframes flicker {
    0% {
      opacity: 0.1;
    }
    25% {
      opacity: 0.15;
    }
    50% {
      opacity: 0.2;
    }
    75% {
      opacity: 0.1;
    }
    100% {
      opacity: 0.0;
    }
  }
@keyframes textShadow {
0% {
    text-shadow: 0.4389924193300864px 0 1px rgba(0,30,255,0.1), -0.4389924193300864px 0 1px rgba(255,0,80,0.15), 0 0 3px;
}
25% {
    text-shadow: 1.6125630401149584px 0 1px rgba(0,30,255,0.1), -1.6125630401149584px 0 1px rgba(255,0,80,0.15), 0 0 3px;
}
50% {
    text-shadow: 0.08084290417898504px 0 1px rgba(0,30,255,0.1), -0.08084290417898504px 0 1px rgba(255,0,80,0.15), 0 0 3px;
}
75% {
    text-shadow: 1.8948491305757957px 0 1px rgba(0,30,255,0.1), -1.8948491305757957px 0 1px rgba(255,0,80,0.15), 0 0 3px;
}
100% {
    text-shadow: 2.6208764473832513px 0 1px rgba(0,30,255,0.1), -2.6208764473832513px 0 1px rgba(255,0,80,0.15), 0 0 3px;
}
}
.crt::after {
content: " ";
display: block;
position: absolute;
top: 0;
left: 0;
bottom: 0;
right: 0;
background: rgba(18, 16, 16, 0.1);
opacity: 0;
z-index: 2;
pointer-events: none;
animation: flicker 0.12s infinite;
}
.crt::before {
content: " ";
display: block;
position: absolute;
top: 0;
left: 0;
bottom: 0;
right: 0;
background: linear-gradient(rgba(18, 16, 16, 0), rgba(0, 0, 0, 0.05)), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
z-index: 2;
background-size: 100% 8px, 4px 100%;
pointer-events: none;
}
.crt {
animation: textShadow 0.5s infinite;
}