body {
  overflow: hidden;
  background-color: orange;
}

h1 {
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;

  padding: 0;
  margin: 0;

  color: orange;
  font-size: 96px;
  text-align: center;
  -webkit-text-stroke: 1px rgb(132, 35, 0);

  position: relative;
  z-index: 1;
}

h2 {
  text-align: center;
  font-style: italic; 
  padding: 0;
  margin: 0;
  margin-bottom: 8px;
  
  color: rgb(132, 35, 0);
  font-size: 24px;
  font-family: Georgia, 'Times New Roman', Times, serif;  
  position: relative;
  z-index: 1;
}

canvas {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}