@import './reset.css';

:root {
    font-family: 'Courier New', Courier, monospace;
    --bg-color: #842806;/*842806*/
    --fg-color: #ffffff;

    color: var(--fg-color);
    background-color: var(--bg-color);
}

.icon {
    filter: opacity(0.7);
    transition: 0.3s;
}

.icon:hover {
    filter: opacity(1);
}